@import '../../variables';

.fc-header {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkest;
    height: 5rem;
    padding: 2rem;
    color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0 .4rem .1rem .1rem $shadow-color;
    z-index: 1;
    
    .fc-title {
       font-size: 2.4rem;
       margin-left: 1rem;
       font-weight: 200; 
    }

    .fc-input-field {
        transition: transform 500ms;
        transform: scale(1);
        border-radius: .5rem;
        background-color: #fefefe;
        border: .1rem solid #cacaca;
        color: $darkest;
        font-size: 1.6rem;
        padding: .5rem .9rem;
        width: 26rem;
        font-family: $main-font;
    }

    .fc-input-field:focus {
        background: #fff;
        box-shadow: 0 0 .8rem #cec9c9;
        transform: scale(1.05);
    }
}