@import '../../variables';

.restaurans-list {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: auto;
    padding: 2rem;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .restaurans-list {
        grid-template-columns: 1fr;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .restaurans-list {
        grid-template-columns: 1fr 1fr;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .restaurans-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .restaurans-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .restaurans-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}