@import url("https://fonts.googleapis.com/css?family=Assistant:200,300,400,600");
#fc .fc-restaurant-card {
  transition: margin 300ms ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  background: #FED994;
  border-radius: 0.2rem;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 0 0 rgba(206, 5, 5, 0.3);
  position: relative;
  color: #b82d39; }
  #fc .fc-restaurant-card:hover {
    margin: -1rem 0 1rem; }
  #fc .fc-restaurant-card .fc-logo-bg-card {
    margin: 0 -1rem;
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    height: 8.5rem;
    box-shadow: 0 0.2rem 0 0 rgba(206, 5, 5, 0.3); }
  #fc .fc-restaurant-card .fc-logo-wrapper-card {
    padding: .5rem;
    border-radius: 0.2rem;
    width: 45%;
    margin: 0 auto 0;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    #fc .fc-restaurant-card .fc-logo-wrapper-card img {
      max-width: 100%;
      max-height: 100%; }
  #fc .fc-restaurant-card .fc-restaurant-name-card {
    font-size: 1.6rem;
    margin: 1rem 0 .5rem; }
  #fc .fc-restaurant-card .fc-restaurant-address-card {
    font-size: 1.4rem;
    margin: .5rem 0; }
  #fc .fc-restaurant-card .fc-modal-button {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
  #fc .fc-restaurant-card h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px dashed #0a1312; }
