@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600');

$main-font: 'Assistant', sans-serif;

// Color
$darkest: #0a1312;
$shadow-color: rgba(206, 5, 5, .3);

$border-radius: .2rem;